<ion-tabs>

      <ion-tab title="adminHawaiianSongs" icon-off="ion-ipod" icon-on="ion-ipod" ui-sref="adminMenu.home.HawaiianSong">
        <ion-nav-view name="adminTabs-songs"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminHawaiianArtists" icon-off="ion-man" icon-on="ion-man" ui-sref="adminMenu.home.HawaiianArtist">
        <ion-nav-view name="adminTab-artists"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminContemporarySongs" icon-off="ion-ipod" icon-on="ion-ipod"  ui-sref="adminMenu.home.ContemporarySong">
        <ion-nav-view name="adminTab-genre"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminContemporaryArtists" icon-off="ion-man" icon-on="ion-man" ui-sref="adminMenu.home.ContemporaryArtist">
        <ion-nav-view name="adminTab-genre"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminAlbums" icon-off="ion-man" icon-on="ion-man" ui-sref="adminMenu.albums">
        <ion-nav-view name="adminTab-genre"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminRecordLabels" icon-off="ion-man" icon-on="ion-man" ui-sref="adminMenu.recordLabels">
        <ion-nav-view name="adminTab-genre"></ion-nav-view>
      </ion-tab>

</ion-tabs>

<ion-nav-view name="adminTabs-view"></ion-nav-view>

