<ion-view title="Artist Context" id="page14">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.artistInformation" id="artistContext-button32" class="button button-positive  button-block">Artist Information</a>
        <ion-list>
            <ion-item class="item-divider">Album</ion-item>
            <ion-item ui-sref="menu.albumPage">Album 1</ion-item>
            <ion-item ui-sref="menu.albumPage">Album 2</ion-item>
            <ion-item ui-sref="menu.albumPage">Album 3</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <ion-list>
            <ion-item class="item-divider">Songs</ion-item>
            <ion-item ui-sref="menu.songContent">Song 1</ion-item>
            <ion-item ui-sref="menu.songContent">Song 2</ion-item>
            <ion-item ui-sref="menu.songContent">Song 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>