<ion-view title="Frequently Asked Questions" id="page24">
    <ion-content padding="true" class="has-header">
        <h1 id="serviceTerms-heading5" style="color:#000000;">FQA</h1>
        <div id="serviceTerms-markdown19" style="color:#000000;">
            <p>This is where the frequently asked questions will be located for the user to see and read.</p>
        </div>

        <h4>What is KanakaMusic?</h4>
        <h4>What's the purpose of this app?</h4>
        <h4>How to get a flier on in the Gigs list?</h4>
        <h4>Copyright infridgement?</h4>
        <h4>What genres of songs does KanakaMusic have?</h4>
        <h4>How can I partner with KanakaMusic?</h4>
        <h4>What does the app function on?</h4>
        <h4>I don't see the song or artist I'm looking for</h4>
        <h4> I see a typo in a name or song</h4>
        <h4> I know how to play it in a different way </h4>
        <h4> Ideas and suggestions</h4>
        <h4>How to be apart of the KanakaMusic team</h4>
        <h4>Internships</h4>
        <h4></h4>



    </ion-content>
</ion-view>