<ion-tabs>

      <ion-tab title="Songs" icon-off="ion-search" icon-on="ion-search" href="#/side-menu/home/songs">
        <ion-nav-view name="tabs-songs"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Artists" icon-off="ion-ios-glasses" icon-on="ion-ios-glasses" href="#/side-menu/home/artists">
        <ion-nav-view name="tab-artists"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Genre" icon-off="ion-ipod" icon-on="ion-ipod"  ng-click="changeGenre()">
        <ion-nav-view name="tab-genre"></ion-nav-view>
      </ion-tab>

</ion-tabs>

<ion-nav-view name="tabs-view"></ion-nav-view>

