<ion-view title="Record Labels" id="page21">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">A</ion-item>
            <ion-item ui-sref="menu.editRecordLabel">Record Label 1</ion-item>
            <ion-item class="item-divider">B</ion-item>
            <ion-item ui-sref="menu.editRecordLabel">Record Label 2</ion-item>
            <ion-item ui-sref="menu.editRecordLabel">Record Label 3</ion-item>
            <ion-item class="item-divider">C</ion-item>
            <ion-item ui-sref="menu.editRecordLabel">Record Label 4</ion-item>
            <ion-item ui-sref="menu.editRecordLabel">Record Label 5</ion-item>
            <ion-item class="item-divider">D</ion-item>
            <ion-item class="item-divider">E</ion-item>
            <ion-item class="item-divider">F</ion-item>
            <ion-item class="item-divider">G</ion-item>
            <ion-item class="item-divider">H</ion-item>
            <ion-item class="item-divider">I</ion-item>
            <ion-item class="item-divider">J</ion-item>
            <ion-item class="item-divider">K</ion-item>
            <ion-item class="item-divider">L</ion-item>
            <ion-item class="item-divider">M</ion-item>
            <ion-item class="item-divider">N</ion-item>
            <ion-item class="item-divider">O</ion-item>
            <ion-item class="item-divider">P</ion-item>
            <ion-item class="item-divider">Q</ion-item>
            <ion-item class="item-divider">R</ion-item>
            <ion-item class="item-divider">S</ion-item>
            <ion-item class="item-divider">T</ion-item>
            <ion-item class="item-divider">U</ion-item>
            <ion-item class="item-divider">V</ion-item>
            <ion-item class="item-divider">W</ion-item>
            <ion-item class="item-divider">X</ion-item>
            <ion-item class="item-divider">Y</ion-item>
            <ion-item class="item-divider">Z</ion-item>
        </ion-list>
    </ion-content>
</ion-view>