<ion-view title="Song Content" id="page10">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.editSong" id="songContent-button21" class="button button-energized  button-block">Edit Song</a>
        <div id="songContent-markdown5" style="color:#000000;text-align:center;">
            <p>Artist - Album</p>
        </div>
        <div id="songContent-markdown3" style="color:#000000;">
            <p>chords 1</p>
        </div>
        <div id="songContent-markdown28" style="color:#000000;">
            <p>line 1</p>
        </div>
        <div id="songContent-markdown4" style="color:#000000;">
            <p>chords 2</p>
        </div>
        <div id="songContent-markdown29" style="color:#000000;">
            <p>line 2</p>
        </div>
        <div id="songContent-markdown30" style="color:#000000;">
            <p>chords 3</p>
        </div>
        <div id="songContent-markdown31" style="color:#000000;">
            <p>line 3</p>
        </div>
        <div class="spacer" style="width: 300px; height: 62px;"></div>
        <div id="songContent-markdown6" style="color:#000000;text-align:right;">
            <p>Description</p>
        </div>
    </ion-content>
</ion-view>