<ion-view title="Song" id="page1" name="tabs-view">

    <ion-content padding="true" class="has-header" ng-init="getAllSongs()">



        <form class="list">
            <a ui-sref="menu.addNewSong" id="home-button2" style="font-weight:300;" class="button button-positive button-small button-block">Add New Song</a>
            <a ui-sref="menu.addNewArtist" id="home-button18" class="button button-positive button-small button-block">Add New Artist</a>
        </form>

        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search">
            </label>
        </form>


            <!-- this is where the filter button is for now -->
        <div class="button-bar">
          <button id="home-button15" ui-sref="menu.song" style="border-radius:10px 10px 10px 10px;" class="button button-positive  button-block">Songs</button>
            <!-- pressing this button will show all the song arrays, the ion-list will have a ng-show/ng-hide -->


            <button id="home-button16" ui-sref="menu.artist" style="border-radius:10px 10px 10px 10px;" class="button button-positive  button-block">Artists</button>
              <!--  pressing this button will show all the artist arrays, the ion-list will have a ng-show/ng-hide-->
        </div>

        <ion-list>
            <ion-item class="item-divider">#</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in NumberSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">A</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in ASong | orderBy:'title'">
                <div class="row responsive-sm">
                  <div>
                    <a>{{song.title}}</a>
                  </div>
                </div>
            </ion-item>

            <ion-item class="item-divider">B</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in BSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">C</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in CSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">D</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in DSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">E</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in ESong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">F</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in FSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">G</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in GSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">H</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in HSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">I</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in ISong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">J</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in JSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">K</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in KSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">L</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in LSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">M</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in MSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">N</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in NSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">O</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in OSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">P</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in PSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Q</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in QSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">R</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in RSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">S</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in SSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">T</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in TSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">U</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in USong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">V</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in VSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">W</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in WSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">X</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in XSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Y</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in YSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Z</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in ZSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>